tel_gangby.json
{
  "name": "tel_gangby",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        208
      ],
      "id": "12b50b58-f6ee-4799-93d0-ce15baa69cf3",
      "name": "Telegram Trigger_test"
    },
    {
      "parameters": {
        "url": "={{$json.message.text}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        192
      ],
      "id": "c45fcd88-534e-4fc9-ba7f-3b89a613cd67",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        624,
        192
      ],
      "id": "116ea48e-6265-419f-ab95-2bcd21f62107",
      "name": "HTML1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger_test').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        224
      ],
      "id": "e780b7f9-f5d0-4df0-a03b-788116e41521",
      "name": "Send a text message2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07fd9c83-059d-4bbb-9111-fe0cd8af663c",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        208
      ],
      "id": "c6cffbd6-fa3d-4a2b-a3a0-a4f3e90873fa",
      "name": "If_test"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[뉴스 기사 본문]\n{{ $json.text }}\n\n[요청 사항]\n너는 키워드 추출 전문가 AI야. [뉴스 기사 본문]을 읽고 검색용 키워드 5개를 추출해줘.\n\n[출력 형식]\n다른 어떠한 설명이나 텍스트도 포함하지 말고, 오직 {\"keywords\": [\"추출된키워드1\", \"추출된키워드2\", \"추출된키워드3\", \"추출된키워드4\", \"추출된키워드5\"]} 형식의 JSON 객체 텍스트만 응답해줘.",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        832,
        -48
      ],
      "id": "cf22eef7-e67e-4baa-9704-3be02336bd94",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "solar-pro2",
        "options": {}
      },
      "type": "n8n-nodes-solar.lmChatModelUpstage",
      "typeVersion": 1,
      "position": [
        832,
        144
      ],
      "id": "03ad3068-270e-408c-834c-3980d090293a",
      "name": "Solar Chat Model"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        1280,
        -48
      ],
      "id": "6000283c-0a40-473b-84af-8137ef70029e",
      "name": "Google search"
    },
    {
      "parameters": {
        "jsCode": "// 1. AI Agent가 보낸 텍스트를 가져옵니다.\nvar text = $('AI Agent').item.json.output;\n\n// 2. 텍스트에서 마지막 JSON 블록을 찾습니다. (*? 사용)\nvar matches = text.match(/(\\{[\\s\\S]*?\\})/g);\nvar keywords = []; // 기본값\n\nif (matches) {\n  var lastJsonString = matches[matches.length - 1];\n  \n  try {\n    var parsedJson = JSON.parse(lastJsonString);\n    \n    // 3. 키워드 배열을 추출합니다. (두 가지 구조 모두 확인)\n    if (parsedJson.json && parsedJson.json.keywords) {\n      keywords = parsedJson.json.keywords;\n    } else if (parsedJson.keywords) {\n      keywords = parsedJson.keywords;\n    }\n    \n  } catch (e) {\n    // 파싱 실패해도 오류 내지 않음\n  }\n}\n\n// 4. 추출된 키워드를 다음 노드로 보냅니다.\nreturn {\n  json: {\n    search_query: keywords.join(' ')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -48
      ],
      "id": "215265f1-14a6-4492-b4f3-7f5dfd28b98c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.generatedPrompt }}",
        "options": {
          "systemMessage": "너는 꼼꼼한 팩트체커 AI야.\n가짜뉴스인지 아닌지 판단해줘\n판단 기준은 비슷한 기사의 갯수가 얼마나 되는지(5개 이상), 또는 메이저 뉴스 기업들 등의 기준으로 해줘. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1600,
        224
      ],
      "id": "6bec872a-a7c2-4e6e-916a-cdac5abd7011",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// 1. (수정됨) $input.first()를 사용해 'organic_results' 데이터를 가져옵니다.\nconst searchResults = $input.first().json.organic_results\n  // 2. 상위 5개만 자릅니다.\n  .slice(0, 5)\n  // 3. 각 항목을 'title', 'snippet', 'source'만 남도록 가공합니다.\n  .map(r => ({\n    title: r.title,\n    snippet: r.snippet,\n    source: r.source\n  }));\n\n// 4. (수정됨) 'HTML1' 노드의 '첫 번째' 아이템에서 [원본 기사] 텍스트를 가져옵니다.\n// ❗ 'HTML1'은 실제 텍스트가 있는 노드의 이름이어야 합니다.\nconst originalText = $('HTML1').first().json.text;\n\n// 5. 프롬프트를 정의하고, 변수를 삽입하고, backtick으로 닫습니다.\nconst prompt = `너는 요약 봇이야.\n아래 [원본 기사]와 [검색 결과]를 비교해서,\n[원본 기사]가 기자체널 검색 결과에 분석하고,\n\n가짜뉴스인지 아닌지 판단해줘\n판단 기준은 비슷한 기사의 갯수가 얼마나 되는지(5개 이상), 또는 메이저 뉴스 기업들 등의 기준으로 해줘. \n다른 설명을 모두 생략하고 아래 [JSON 형식]에 맞춰서 한 줄로 가짜뉴스인지 아닌지 분석해줘.\n\n[원본 기사]\n${originalText}\n\n[검색 결과]\n${JSON.stringify(searchResults, null, 2)}\n`; // <-- ❗ 닫는 백틱(`)\n\n// 6. 다음 노드로 보낼 데이터를 반환(return)합니다.\nreturn [\n  {\n    json: {\n      generatedPrompt: prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -48
      ],
      "id": "a1c3704f-54a4-4df2-86fb-ebd3ac072e91",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bcfc153-5e5d-4002-897d-b83f90a55bc7",
              "name": "number",
              "value": "={{ $('Google search').item.json.search_information.total_results }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -256
      ],
      "id": "d30908e9-bc7f-4806-96a8-e2ab162eb62e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "solar-pro2",
        "options": {}
      },
      "type": "n8n-nodes-solar.lmChatModelUpstage",
      "typeVersion": 1,
      "position": [
        1616,
        432
      ],
      "id": "c87235ad-3963-4119-b847-c96315924228",
      "name": "Solar Chat Model1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger_test": {
      "main": [
        [
          {
            "node": "If_test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_test": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f382fe4f-52c2-469a-a67a-e2433b6c6060",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0d075133151000669232527c465042ce1a20a6a4df32a0fa89bd8989169f5a9"
  },
  "tags": []
}
