video.json
{
  "name": "video",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 1. Webhook(텔레그램)에서 URL을 가져옵니다.\nconst youtubeUrl = items[0].json.message.text.trim();\n\n// URL을 안전한 파이썬 문자열로 만듭니다.\nconst safeUrlJson = JSON.stringify(youtubeUrl);\n\n// 2. 실행할 Python 스크립트 문자열을 만듭니다.\nconst pythonScript = `\nimport subprocess, json, os, glob, sys; from subprocess import DEVNULL\n\ntry:\n    subprocess.run([\"pip\", \"install\", \"yt-dlp\"], stdout=DEVNULL, stderr=DEVNULL)\nexcept:\n    pass\n    \nbase_filename = \"temp_transcript\"\n\nfor f in glob.glob(base_filename + \"*\"):\n    try:\n        os.remove(f)\n    except:\n        pass\n\n# JavaScript에서 만든 안전한 URL 변수를 주입합니다.\nurl_from_js = ${safeUrlJson}\n\ncmd = [\n    \"yt-dlp\",\n    \"--write-subs\",\n    \"--write-auto-subs\",\n    \"--skip-download\",\n    \"--sub-format\", \"json3\",\n    \"--sub-langs\", \"ko\",\n    \"--output\", base_filename,\n    \"--no-warnings\",\n    \"--force-overwrites\",\n    url_from_js\n]\n\ntranscript_data = {\"error\": \"Unknown Python error\"}\n\ntry:\n    subprocess.run(cmd, stdout=DEVNULL, stderr=DEVNULL)\n    \n    created_files = glob.glob(base_filename + \"*.ko*.json3\") \n    \n    if created_files:\n        actual_filename = created_files[0]\n        try:\n            with open(actual_filename, \"r\", encoding=\"utf-8\") as f:\n                transcript_data = json.load(f) # 성공!\n        \n        except Exception as e:\n            transcript_data = {\"error\": \"File read error: \" + str(e)}\n        finally:\n            try:\n                os.remove(actual_filename)\n            except:\n                pass\n            \n    else:\n        transcript_data = {\"error\": \"yt-dlp did not create a 'ko' subtitle file. Check URL or if 'ko' subtitles exist.\"}\n        \n    for f in glob.glob(base_filename + \"*.json3\"):\n        try:\n            if 'actual_filename' not in locals() or f != actual_filename:\n                os.remove(f)\n        except:\n            pass\n\nexcept Exception as e:\n    transcript_data = {\"error\": \"A Python error occurred: \" + str(e)}\n\nprint(json.dumps(transcript_data))\n`;\n\n// 3. 스크립트가 n8n에서 깨지는 것을 막기 위해 Base64로 인코딩합니다.\nconst base64Script = Buffer.from(pythonScript).toString('base64');\n\n// --- !! 🚨 여기가 윈도우 전용 최종 수정 사항입니다 !! ---\n// 4. 윈도우의 PowerShell을 사용하여 Base64를 디코딩하고\n//    그 결과를 파이썬으로 바로 전달하여 실행합니다.\n//    (python3 - 는 '표준 입력'으로 스크립트를 받으라는 의미입니다)\nconst finalCommand = `powershell -Command \"[System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String('${base64Script}')) | python3 -\"`;\n\n// 5. 이 최종 명령어를 n8n의 올바른 출력 형식으로 반환합니다.\nreturn [\n  {\n    json: {\n      commandToRun: finalCommand\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -16
      ],
      "id": "46060ba1-e1f2-42db-82b9-a44573103596",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "={{ $json.commandToRun }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        -16
      ],
      "id": "8c5903ea-a3a6-4ab3-894f-24254855d3ee",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "// 'Code in JavaScript2' (세 번째 노드)에 이 코드를 전부 붙여넣으세요.\n\n// 1. Execute Command의 'json' 객체에서 'stdout'을 가져옵니다.\nconst rawOutput = $('Execute Command').item.json.stdout;\nlet data;\nlet jsonString = null;\n\n// 2. output이 실제로 존재하고(null/undefined가 아님) 문자열인지 확인합니다.\nif (!rawOutput || typeof rawOutput !== 'string') {\n    const stderr = $('Execute Command').item.json.stderr || \"No stderr\";\n    return [{\n        json: {\n            error: \"stdout was undefined or not a string. Cannot parse.\",\n            stderr_received: stderr\n        }\n    }];\n}\n\n// 3. (핵심 수정) ANSI 이스케이프 코드(색상 코드)와 \\r (캐리지 리턴) 문자를 모두 제거합니다.\nconst ansiRegex = /[\\u001b\\u009b][[()#;?]*.{0,2}(?:[0-9]{1,4}(?:;[0-9]{0,4})*)?[0-9A-ORZcf-nqry=><]/g;\nconst output = rawOutput.replace(ansiRegex, '').replace(/\\r/g, '');\n\n// 4. (핵심 수정) 전체 출력을 줄(line) 단위로 나눕니다.\ntry {\n  const lines = output.split('\\n');\n  \n  // 5. 맨 마지막 줄부터 거꾸로 탐색하여, '{'로 시작하는 첫 번째 줄을 찾습니다.\n  //    이것이 우리가 찾는 JSON입니다.\n  for (let i = lines.length - 1; i >= 0; i--) {\n    const line = lines[i].trim(); // 혹시 모를 앞뒤 공백 제거\n    if (line.startsWith('{')) {\n      jsonString = line;\n      break; // JSON을 찾았으므로 중단\n    }\n  }\n\n  if (jsonString === null) {\n      // 깨끗해진 stdout에서 JSON을 찾지 못했습니다.\n      throw new Error(\"No line starting with '{' was found in cleaned stdout.\");\n  }\n  \n  // 6. 찾은 JSON 문자열을 파싱(변환)합니다.\n  data = JSON.parse(jsonString);\n\n} catch (e) {\n  // JSON 파싱에 실패하면, 에러 객체를 반환합니다.\n  return [{\n    json: {\n      error: \"Failed to parse JSON from stdout\",\n      details: e.message,\n      stdout_received: rawOutput // 디버깅을 위해 *원본* stdout을 포함\n    }\n  }];\n}\n\n// 7. JSON 파싱에 성공했는지 확인합니다.\n// (만약 자막이 없는 영상이라 {\"error\":...}가 왔어도, data.error로 잡힙니다)\nif (data.error) {\n  // Python 스크립트가 에러를 반환했습니다.\n  return [{ json: data }];\n}\n\n// 8. 진짜 성공 ({\"wireMagic\":...})한 경우, 자막을 정제합니다.\ntry {\n  const segments = data.events\n    .filter(event => event.segs)\n    .flatMap(event => event.segs)\n    .map(seg => seg.utf8);\n  \n  // \\n (줄바꿈)을 공백으로 바꾸고, 모든 텍스트를 하나로 합칩니다.\n  const fullTranscript = segments.join(' ').replace(/\\\\n/g, ' ').replace(/\\n/g, ' ');\n  \n  // 9. 최종 결과 반환\n  return [{\n    json: {\n      transcript: fullTranscript\n    }\n  }];\n\n} catch (e) {\n  // 자막 정제(parsing) 중 오류 발생\n  return [{\n    json: {\n      error: \"Failed to parse the structure of the subtitle JSON.\",\n      details: e.message,\n      json_received: data\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ],
      "id": "d7f85fef-5288-4717-a721-20d3ccc27504",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript2').item.json.transcript }}",
        "options": {
          "systemMessage": "당신은 전달받은 스크립트 텍스트를 분석하여, 이 내용의 사실 여부를 검증하기 위한 구글 검색어(키워드 5~7개 조합)를 단 한 줄로 생성합니다.\n다른 설명, 줄 바꿈, 글머리 기호, 따옴표 없이 오직 검색어들만 나열해 주세요.\n\n예시: 빼빼로데이 소비 감소 고물가 춘천 자영업자 온라인 선물"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        -16
      ],
      "id": "d5b7970d-ccaa-499f-881e-196fb8383be3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "solar-pro2",
        "options": {}
      },
      "type": "n8n-nodes-solar.lmChatModelUpstage",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "id": "f0601e4e-7a52-4c3e-83cc-602533cda7ad",
      "name": "Solar Chat Model"
    },
    {
      "parameters": {
        "q": "={{ $items(\"AI Agent\")[0].json }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        1472,
        -16
      ],
      "id": "5dfc8758-055e-4722-9d9a-e08c809e4753",
      "name": "Google search"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        -16
      ],
      "id": "b95726be-5e5f-4887-86c0-0c284faaa7cd",
      "name": "Telegram Trigger_video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.generatedPrompt }}",
        "options": {
          "systemMessage": "너는 꼼꼼한 팩트체커 AI야.\n가짜뉴스인지 아닌지 판단해줘\n판단 기준은 비슷한 기사의 갯수가 얼마나 되는지(5개 이상), 또는 메이저 뉴스 기업들 등의 기준으로 해줘. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        432
      ],
      "id": "6097ddc9-756e-4bf7-a5f6-40ff7c37c67f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// 1. 검색 결과를 안전하게 가져옵니다.\n// searchInformation 변수를 사용하지 않고, organic_results를 직접 가져옵니다.\n// ❗ 이 코드가 정상 작동하려면 Google search 노드의 출력이 JSON 형식이어야 합니다.\nconst allOrganicResults = $input.first().json.organic_results; \nlet searchResults = [];\n\ntry {\n    // 검색 결과(organic_results)를 가져와 상위 5개만 가공합니다.\n    // 'allOrganicResults'가 유효한 배열인지 확인합니다.\n    if (Array.isArray(allOrganicResults)) {\n        searchResults = allOrganicResults\n            .slice(0, 5)\n            .map(r => ({\n                title: r.title,\n                snippet: r.snippet,\n                source: r.source_title || r.source || r.link\n            }));\n    }\n} catch (e) {\n    // 오류 발생 시, 빈 배열을 유지합니다.\n    console.error(\"검색 결과를 가져오거나 처리하는 중 오류가 발생했습니다.\", e);\n}\n\n// 4. (🌟 수정 없음) 원본 텍스트가 저장된 'Code in JavaScript2' 노드의 'transcript' 키를 참조합니다.\nconst originalText = $('Code in JavaScript2').first().json.transcript;\n\n// 5. 프롬프트를 정의하고, 변수를 삽입합니다.\n// (요청하신 프롬프트는 수정 없이 유지합니다.)\nconst prompt = `너는 요약 봇이야.\n아래 [원본 기사]와 [검색 결과]를 비교해서,\n[원본 기사]가 검색 결과와 비슷한지 분석하고,\n\n가짜뉴스인지 아닌지 판단해줘\n판단 기준은 비슷한 키워드의 영상의 갯수가 얼마나 되는지(5개 이상)\n다른 설명을 모두 생략하고 아래 [JSON 형식]에 맞춰서 한 줄로 가짜뉴스인지 아닌지와 \n비슷한 영상이 몇 개 있었는지 같이 분석해줘.\n\n[원본 기사]\n${originalText}\n\n[검색 결과]\n${JSON.stringify(searchResults, null, 2)}\n`;\n\n// 6. 다음 노드로 보낼 데이터를 반환(return)합니다.\nreturn [\n    {\n        json: {\n            generatedPrompt: prompt\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ],
      "id": "847ace6a-3b0c-48fe-9d31-16067b0b6b52",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "solar-pro2",
        "options": {}
      },
      "type": "n8n-nodes-solar.lmChatModelUpstage",
      "typeVersion": 1,
      "position": [
        1600,
        640
      ],
      "id": "0af8cb51-acc9-47e9-a8a5-01775c07c911",
      "name": "Solar Chat Model1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger_video').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        432
      ],
      "id": "4e479049-44bb-47b5-adc9-8feee373cde7",
      "name": "Send a text message"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger_video": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f48eba8b-a29e-48a8-aa5a-b6a7eef9c114",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0d075133151000669232527c465042ce1a20a6a4df32a0fa89bd8989169f5a9"
  },
  "tags": []
}
